.leftVizContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Or any specific height as needed */
}

.sleepimg{
    animation: fadeIn 3s;
    width: 70%;
    height: auto;
}

.dashboard{
    animation: fadeIn 1s;
    width: 100%;
    height: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}