.sleepRingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #131a41; */
}

.sleepRingContainer .controllerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sleepRingContainer .controllerContainer .selectBox {
  margin-top: 20px;
}

/* .sleepRingContainer  fieldset{
  border-color: white;
}

.sleepRingContainer .MuiInputBase-root {
  border-color: white;
} */