.sleepRingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #131a41; */
}

.sleepRingContainer .sleepRingPart {
  display: block;
  position: relative;
}

.sleepRingContainer .sleepRingLegend {
  position: absolute;
  top: -5%;
  right: 0%;
}

.sleepRingContainer .controllerContainer {
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sleepRingContainer .controllerContainer .selectBox {
  margin-top: 20px;
}