.sleepRingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.sleepRingContainer .controllerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sleepRingContainer .controllerContainer .selectBox {
  margin-top: 20px;
}

