.componentContainer {
  color: white;
  display: flex;
}

.title {
  font-size: 34px; 
  color: #91f5ff;
  margin-bottom: 50px; 
}

.textBlock {
  height: 100%;
  width: 100%;
}

.text {
  font-size: 24px;
  color: #fff;
}
