.componentContainer {
  color: white;
  display: flex;
}

.title {
  font-size: 34px; 
  color: #abd9e9;
  margin-bottom: 50px; 
}

.textBlock {
  height: 100%;
  width: 100%;
}

.text {
  font-size: 24px;
  color: #fff;
}

.text a {
  color: #abd9e9;
  text-decoration: none; /* Optional: Removes the underline from links */
}
