.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0000;
}

body {
  margin: 0;
  padding: 0;
  background: url('night.png') no-repeat;
  background-size: cover;
  color: white;
}

.scroller {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller .onePage {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
}