.documentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #131a41;
    padding-top: 10%;
}

.documentation .section {
    width: 60%;
}

.documentation .title {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin: auto;
}